* {margin:0;
padding:0;}

.nav{
  display:flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
}

.nav button{
  padding:15px 40px 15px 40px;
  border:2px solid green;
  background-color: green;
  color:white;
  font-size: 20px;
  font-weight:bold;
}


.nav p {display:flex;
  justify-content:space-around;
  width:100%;
  align-items:center;
  background-color: black;
  color:white;
  text-align-last: right ;
}

#black{
  display:flex;
  justify-content: space-between;
  width:35%;
}

.wrap-panel {display:flex;
}

.pmain {padding:5px 20px 5px 20px;
margin:15px 15px;
border:3px solid black;
width:1100px;
height:150px;}

.pmain h2{
  padding:15px;
}

.pmain ul{
  padding-left: 10px;
}
.pmain ul li {
  padding:0 0 10px 20px;

}

.right{padding: 5px;
  margin:20px 30px 20px 30px;
  border:3px solid black;
  width:100%;
}

.right h2{padding:15px;}

.right p{padding: 15px;}
